.git
.gitignore

.env
.env.*
!.env.example
!.env.dist

config/jwt/*.pem
config/secrets/

vendor/
var/
data/

docker-compose*.yml
docker-sync.yml

README.md
SECURITY.md
LICENSE

.phpunit.result.cache
phpunit.xml

.idea/
.vscode/

.DS_Store

node_modules/
npm-debug.log
yarn-error.log
